# URL
BASE_URL="" # Both for development (ngrok) and production (deployed application url)

# Facebook
FACEBOOK_APP_ID="" # Facebook app id (App dahsboard -> Settings)
FACEBOOK_APP_SECRET="" # Facebook app id (App dahsboard -> Settings)
FACEBOOK_PAGE_ID="" # Facebook page id (App dashboard -> Messenger -> Messenger API settings -> Generate Access Token -> Page id of the connected page)
FACEBOOK_PAGE_ACCESS_TOKEN="" # Facebook page id (App dashboard -> Messenger -> Messenger API settings -> Generate Access Token -> Generate an access token for the connected page)
FACEBOOK_WEBHOOK_VERIFY_TOKEN="" # String you define that is used as a token by facebook to authenticate the webhook endpoint (App dashboard -> Messenger -> Messenger API settings -> Configure webhooks -> Verify token)
FACEBOOK_ACCOUNT_LINKING_TOKEN_SECRET="" # Secret for the signature of the account linking's magic link

# Redis
REDIS_STORAGE_DATABASE_URI="" # URI for the redis storage database
REDIS_SESSION_DATABASE_URI="" # URI for the redis session database